main {
  display: flex;
  flex-direction: column;
  padding-inline: 60px;
}

main.grid {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  main {
    padding: 20px;
  }

  main.grid {
    justify-content: center;
  }
}